@using Face2Face.Models
@model LoginViewModel

<style>
    #logins {
        border: solid;
        border-radius: 20px;
        padding: 10px;
        background-color: gainsboro;
        /*box-shadow: 5px 5px 5px #888888;*/
    }

    #intro {
        background: none;
        padding-right: 30px;
        color: white;
    }

    #btn {
        background-color: forestgreen;
        border: 10px;
        color: white;
        width: 280px;
    }

    body {
        background-image: url("../../Content/Images/black_background.jpg");
    }


    h3 {
        color: white;
    }
</style>
<body">

    <div class="row">
        <div class="col-md-7">
            <div id="intro" align="justify">
                <h2>Face To Face</h2>
                <p class="lead">Do you want to learn a new language outside a classroom?</p>
                <p align="justify">
                    Do you feel that sometimes you don't have enough time at school, for exemple, to speak the new language that you're learning?
                    <br></br>
                    Face2Face could be the answer!
                    <br></br>
                    This is a plataform that allows you to learn, improve and get more vocabulary in a new language.
                    <br></br>
                    A way to learn but also allows you to meet people from others nationalities and who share the same insterests than you.
                </p>

            </div>

        </div>
        <h3> A way to combine meetings in every language!</h3>
        <div id="logins" class="col-md-5">

            <div align="justify">
                <div class="row">
                    <div class="col-md-12">
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                @Html.AntiForgeryToken()

                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input id="btn" type="submit" value="Log in" class="btn btn-default" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register", "Account")
                                </p>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                            }
                        </section>
                    </div>

                </div>
                <div class="row">


                    <div class="col-md-12">

                        <section id="socialLoginForm">

                            @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                            @*"_ExternalLoginsListPartial"*@
                        </section>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </body>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }

