@model Face2Face.Models.RegisterViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Face2Face</h1>
    <p class="lead">Do you want to learn a new language outside a classroom?</p>
    @*Queres aprender uma nova língua fora da sala de aula?*@
    <p><a href="" class=""></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> A way to combine meetings in every language!</h2>
        @*Uma maneira de combinares encontros em todos as linguas!*@
        <p>
            Face2Face is a plataform that allows you to learn, improve and get more vocabulary in a new language.
            A way to learn but also allows you to meet people from others nationalities and who share the same insterests than you.
        </p>
            @*O Face2Face é uma plataforma que te permite aprender, aperfeiçoar ou adquirir vocabulário numa nova língua.
            Uma nova maneira de aprender que também te permite conviver com pessoas de outras nacionalidades, da mesma nacionalidade que tu e que partilham os mesmos gostos.*@
        <p><a class="" href=""></a></p>
    </div>
    <div style="">
        @if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Log Out", "Logout", "User")
        }
        else
        {
            @*@Html.ActionLink("Register", "Register", "User")
                <span> | </span>
                @Html.ActionLink("Log In", "Login", "User")*@
        }

       @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
       {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-4">
            </div>
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <br><br/>

            <div class="row">
                <div class="col-md-4">
                </div>
                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                <br><br />

                <div class="row">
                    <div class="col-md-4">
                    </div>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <br><br />

                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <input type="submit" class="btn btn-default" value="Sign Up" />
                    </div>
                </div>
            </div>
        </div>
       }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
