@model Face2Face.Models.ChangeProfile

@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr /> 
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Age) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Photo) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nacionality) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NativeLanguage) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FluentLanguage) </th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.InterestedLanguage) </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NativeLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FluentLanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestedLanguage)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "ChangeProfile");
                  
                </td>
            </tr>
        }

    </table>



    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
                @*@Html.ActionLink("Change your password", "ChangePassword")*@
            ]
        </dd>
        </dl>
      @Html.ActionLink("Edit", "EditUserProfile", "ChangeProfile")


       <!-- <dt>External Logins:</dt>
        <dd>
           @* @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ] *@
        </dd>-->
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
      <!--<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p> -->
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        <!--</dd>  -->
</div>
