@model Face2Face.Models.ChangeProfile

@{
    ViewBag.Title = "Manage";
}

<h4>Change your account settings</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("photo", "", new { type = "file" })
                @*<input type="file" name="photo" id="photo" /><br><br>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">

            @Html.LabelFor(model => model.NativeLanguage, htmlAttributes: new { @class = "control-label col-md-2" })

           
            <div class="col-md-10 ">
                <div class="nativeLanguage">
                    @foreach (var native in Model.NativeLanguage)
                     {
                        <label>@native.Language</label>
                    }
                </div>

                @Html.Action("selectLanguage", "Languagestables")
                <input id="addNative" type="button" value="add">
   
            </div>
        </div>


             @*@foreach (var native in Model.NativeLanguage)
            {
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => native.Language, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            }
        </div>*@

      @*<div class="form-group">
        @Html.LabelFor(model => model.FluentLanguage, htmlAttributes: new { @class = "control-label col-md-2" })

        @foreach (var fluent in Model.FluentLanguage)
        {
            <div class="col-md-10">
                @Html.EditorFor(modelItem => fluent.Language, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        }
    </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.InterestedLanguage, htmlAttributes: new { @class = "control-label col-md-2" })

        @foreach (var interested in Model.InterestedLanguage)
        {
            <div class="col-md-10">
                @Html.EditorFor(modelItem => interested.Language, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        }
    </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FluentLanguage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FluentLanguage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FluentLanguage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InterestedLanguage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InterestedLanguage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestedLanguage, "", new { @class = "text-danger" })
            </div>
        </div>*@

    </div>

    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    
}

@*<tr>@Html.ActionLink("Edit", "EditUserProfile", "Manage")</tr>*@

<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @Html.ActionLink("Change your password", "ChangePassword")
        ]
    </dd>
</dl>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#addNative").click(function () {

            $(".nativeLanguage").append("<label>J</label>");
        });

    </script>
}
