@model Face2Face.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<style>

    .btn {
    border-radius:10px;
    height: 35px;
    margin: 5px;
    
    }
    .fa-facebook-square {
        background-color:#1B42AB;
        color: white;
        font-size: 19px;
    }


    .fa-google {
        font-size: 19px;
        color:palevioletred;
    }

    #socialLoginList {
        text-align: center;
    }

</style>

<hr id="hrLogs"/>
<h4>Use another service to log in.</h4>

<div id="sign" class="hidden">
    <h2 >Get in!</h2>
</div>


@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>

                    @for (int i = 0; i < loginProviders.Count(); i++)
                    {

                        var p = loginProviders.ElementAt(i);
                        if (i == 0)
                        {
                            <button type="submit" class="fa fa-google btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"> @p.AuthenticationType</button>
                        }

                        else
                        {
                            <button type="submit" class="fa fa-facebook-square btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"> @p.AuthenticationType</button>
                        }
                    }
                    @*@foreach (AuthenticationDescription p in loginProviders)
                        {
                                <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }*@
                </p>
            </div>
        }
    }
}
