@model Face2Face.Models.EventTable

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Event Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Photo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            Event Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Summary
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            Final sign up date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndSignUpDate)
        </dd>

        <dt>
            Maximum number of participants
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxUsers)
        </dd>

        <dt>
            Budget
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Event Language
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguagesTable.Language)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
