@model Face2Face.Models.EventTable

<style>
    .eventDetails .reviews{
        border: solid;
        border-color: black;
        border-radius: 5px;
        padding: 10px;
        /*margin: 5px;*/
    }

    .participantsDetails {
        padding: 10px;
    }

    .eventDetails img {
        height: 150px;
        width: 150px;
        margin: 5px;
    }

    .eventDetails .title {
        font-size: 20px;
        font-weight: bold;
    }
    
    .participantsDetails img {
        height: 40px;
        width: 40px;
    }

    #totalUsers {
        text-align: right;
        margin: 5px;
    }

    #eventPhoto {
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="row">
    <div class="col-md-9  eventDetails">

        <div class="container-fluid">

            @if (ViewBag.userLog == Model.UserID)
            {
                <p align="right">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Model.EventID })
                </p>
            }

            <div class="row">


                <div id="eventPhoto" class="col-md-4">

                    @{
                        if (Model.Photo != null)
                        {
                            <img src=@Model.Photo>
                        }
                        else
                        {
                            <img src="~/Content/Images/no-photo-available.png">
                        }
                    }
                </div>

                <div class="col-md-8">

                    <p class="title">
                        @Model.Name
                    </p>
                    <p>
                        <label>Address: </label>
                        @Model.Address;
                    </p>

                    <p>
                        <label>Date: </label>
                        @Model.Date
                    </p>

                    @if (@Model.Summary != null)
                    {
                        <p align="justify">
                            <label>Summary: </label>
                            @Model.Summary
                        </p>

                    }

                    <p>
                        <label>
                            Language:
                        </label>
                        @Model.LanguagesTable.Language
                    </p>

                    @if (@Model.MaxUsers != null)
                    {
                        <p>
                            <label>
                                Max. Users:
                            </label>
                            @Model.MaxUsers
                        </p>
                    }

                    @if (@Model.Budget != null)
                    {
                        <p>
                            <label>
                                Budget:
                            </label>
                            @Model.Budget
                        </p>

                    }

                    @{
                        if (String.Format("{0:MM/dd/yyyy}", Model.EndSignUpDate) != "")
                        {
                            <p>
                                <label>Final sign up date: </label>
                                @Model.EndSignUpDate
                            </p>
                        }
                    }
                </div>
            </div>

            @{
                if (ViewBag.userInEvent)
                {
                    <input type="button" value="Don't go!" onclick="location.href='@Url.Action("GoToEvent", "EventTables", new { id = Model.EventID })'" />
                }
                else
                {
                    <input type="button" value="Go!" onclick="location.href='@Url.Action("GoToEvent","EventTables", new { id = Model.EventID })'" />
                    <input type="button" value="Go and back!" onclick="location.href='@Url.Action("GoToEvent", "EventTables", new { id = Model.EventID })'" />
                }

                <input type="button" value="Add a Review" id="AddReview"/>

            }
        </div>

    </div>

    <div class="col-md-3 participantsDetails">
        @{
            int parCount = Model.UserProfile1.Count;

            if (parCount != 0)
            {
                foreach (var part in Model.UserProfile1)
                {
                    <div class="row">

                        <div class="col-md-3 col-md-offset-1">
                            <a href='@Url.Action("Details", "UserProfiles", new { id = @part.UserID })'>
                                @{
                                    if (@part.Photo == null)
                                    {
                                        <img src=@part.Photo>
                                    }
                                    else
                                    {
                                        <img src="~/Content/Images/no-photo-available.png">
                                    }
                                }
                            </a>
                        </div>

                        <div class="col-md-7">
                            @part.Name
                        </div>
                    </div>
                }

                        <div id="totalUsers" class="row">
                            <div class="col-md-12">
                                <p>
                                    <label>
                                        Participants:
                                    </label>
                                    @parCount
                                </p>

                            </div>
                        </div>
            }
        }

    </div>

</div>

<div class="row">
    <div class="col-md-10 reviews">
        <h3>Reviews to @Model.Name</h3>
        @{
            if (Model.ReviewTable.Count() == 0)
            {
                <span>There are no Reviews to this event.</span>
            }
            else
            {
                    foreach (var review in Model.ReviewTable)
                    {
                        <label>Name</label>
                        @review.UserProfile.Name
                        <br />
                        <br />

                        <label>Classification</label>
                        @review.Classification

                        <br />
                        <br />

                        <label>Review</label>
                        @review.Review
                    }
            }
        }

        <div class="addReviewForm">
            @using (Html.BeginForm("AddReviews", "EventTables", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.EventID)

                    <div class="form-group">
                        <label class="control-label col-md-2">Classification</label>
                        <div class="col-md-10">
                            <input type="number" name="classification" id="eventClassification" max="5" min="0" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Review</label>
                        <div class="col-md-10">
                            <input type="text" name="review" id="eventReview" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>

    $('.addReviewForm').hide();

    $('#AddReview').click(function () {
        $('.addReviewForm').show();
    })
</script>
}