@model Face2Face.Models.EventTable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.Name Event</h2>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */

    #map {
        height: 450px;
        width: 450px;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    .form-group.locationGoogle {
        margin-left: 170px;
    }

    .Photo {
        height: 150px;
        width: 150px;
        margin-bottom: 5px;
    }

    #newPhoto {
        height: 150px;
        width: 150px;
        background-image: url('');
        background-size: cover;
        background-position: center;
        background-size: 150px 150px;
        background-repeat: no-repeat;
        margin: 5px;
    }

    .INPUT {
        height: 33px;
        width: 280px;
    }
</style>
<span>* Required Fields</span><span>* Required Fields</span>
@using (Html.BeginForm("Edit", "EventTables", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventID)

        <div class="form-group">
            @Html.LabelFor(model => model.LanguageID, "Event Language*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LanguageID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LanguageID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group name">
            @Html.LabelFor(model => model.Name, "Event Name*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                @*Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@

                <input class="datefield INPUT" data-val="true" data-val-required="Date is required"
                      name="NameEvent" type="text" />
                <label id="lbl" class="hidden">@Model.Name</label>
            </div>
        </div>
        
        <div class="form-group photoDiv">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="oldPhoto">
                    @{
                        if (Model.Photo != null)
                        {
                            <img class="Photo" src=@Model.Photo>
                        }
                        else
                        {
                            <img class="Photo" src="~/Content/Images/no-photo-available.png">
                        }
                    }
                </div>
                @*@Html.TextBox("photo", "", new { type = "file" })*@
                <div class="hidden" id='newPhoto'></div>
                <input id="newFile" name="photo" type="file" value="">
                <label id="lbl" class="hidden">@Model.Photo</label>
            </div>
        </div>

        <div class="form-group releaseDate">
            @Html.LabelFor(model => model.Date, "Event Date*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })*@
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

                <input class="datefield INPUT" data-val="true" data-val-required="Date is required"
                       name="releaseDate" type="date" />
                <label id="lbl" class="hidden">@String.Format("{0:yyyy-MM-dd}", @Model.Date)</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group endSignUpDate">
            @Html.LabelFor(model => model.EndSignUpDate, "Final Date for Signing up", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.EndSignUpDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EndSignUpDate, "", new { @class = "text-danger" })*@
                <input class="datefield INPUT" name="endSignUpDate" type="date" data-val="false" />
                <label id="lbl" class="hidden">@String.Format("{0:yyyy-MM-dd}", @Model.EndSignUpDate)</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxUsers, "Maximum number of participants", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxUsers, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaxUsers, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Budget, "Budget", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group location">
            @Html.LabelFor(model => model.Address, "Location*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })*@

                <input class="INPUT hidden" type="text" name="Address" id="Address" data-val="true" data-val-required="Date is required" />
                <label id="lbl" class="hidden">@Model.Address</label>

                <input id="LatLng"  class="hidden" type="text" name="LatLng" />

                @{ 
                    string latlng = @Model.Lat.ToString() + ',' + @Model.Lng.ToString();
                }
                <label id="LatLngLbl" class="hidden">@latlng</label>
                @*<input type="button" id="GoogleMaps" value="Google Location" />*@
            </div>
        </div>

        <div class="form-group locationGoogle">
            <div class="col-md-10">
                <div class="GoogleSearch">
                    <div class="pac-card" id="pac-card">
                        <div>
                            <div id="title">
                                Google search
                            </div>
                            <div id="type-selector" class="pac-controls">
                                <input type="radio" name="type" id="changetype-all" checked="checked">
                                <label for="changetype-all">All</label>

                                <input type="radio" name="type" id="changetype-establishment">
                                <label for="changetype-establishment">Establishments</label>

                                <input type="radio" name="type" id="changetype-address">
                                <label for="changetype-address">Addresses</label>

                                <input type="radio" name="type" id="changetype-geocode">
                                <label for="changetype-geocode">Geocodes</label>
                            </div>
                            <div id="strict-bounds-selector" class="pac-controls">
                                <input type="checkbox" id="use-strict-bounds" value="">
                                <label for="use-strict-bounds">Strict Bounds</label>
                            </div>
                        </div>
                        <div id="pac-container">
                            <input id="pac-input" type="text"
                                   placeholder="Enter a location">
                        </div>
                    </div>
                    <div id="map"></div>
                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name" class="title"></span><br>
                        <span id="place-address"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="sub" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }

@{
    var LAT = @Model.Lat.ToString().Replace(",", ".");
    var LNG = @Model.Lng.ToString().Replace(",", ".");
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        document.getElementById('newFile').addEventListener('change', readURL, true);
        function readURL() {
            var file = document.getElementById("newFile").files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                document.getElementById('newPhoto').style.backgroundImage = "url(" + reader.result + ")";
            }
            if (file) {
                reader.readAsDataURL(file);
                $("#oldPhoto").addClass("hidden")
                $("#newPhoto").removeClass("hidden")
            } else {
            }
        }

        $('#sub').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $(".releaseDate .datefield").val($(".releaseDate #lbl").text());
        $(".endSignUpDate .datefield").val($(".endSignUpDate #lbl").text());
        $(".location input").val($(".location #lbl").text());

        $("#LatLng").val($("#LatLngLbl").text())

        $(".name input").val($(".name #lbl").text());
        $(".photoDiv input").val($(".photoDiv #lbl").text());

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initMap() {


            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat:  @LAT, lng:  @LNG },
                zoom: 17
            });

            var card = document.getElementById('pac-card');
            var input = document.getElementById('pac-input');
            var types = document.getElementById('type-selector');
            var strictBounds = document.getElementById('strict-bounds-selector');

            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

            var autocomplete = new google.maps.places.Autocomplete(input);

            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var infowindowContent = document.getElementById('infowindow-content');
            infowindow.setContent(infowindowContent);
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindowContent.children['place-icon'].src = place.icon;
                infowindowContent.children['place-name'].textContent = place.name;
                infowindowContent.children['place-address'].textContent = address;
                infowindow.open(map, marker);


                $("#LatLng").val(place.geometry.location.lat() + ',' + place.geometry.location.lng());
                $('#Address').val(address);
                $('#pac-input').val("");
                Console.log(google.maps.Point);
            });

            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            function setupClickListener(id, types) {
                var radioButton = document.getElementById(id);
                radioButton.addEventListener('click', function () {
                    autocomplete.setTypes(types);
                });
            }

            setupClickListener('changetype-all', []);
            setupClickListener('changetype-address', ['address']);
            setupClickListener('changetype-establishment', ['establishment']);
            setupClickListener('changetype-geocode', ['geocode']);

            document.getElementById('use-strict-bounds')
                .addEventListener('click', function () {
                    console.log('Checkbox clicked! New state=' + this.checked);
                    autocomplete.setOptions({ strictBounds: this.checked });
                });

            $('#pac-input').change(function () {
                $('#Address').show();
                $('#Address').val($('#pac-input').val());
            });






             



        }

    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCrYByZUP81omfmV8Hh9bhsFL1Hx8DCMs&libraries=places&callback=initMap"
        async defer></script>
}