@model IEnumerable<Face2Face.Models.EventTable>

<style>
    .ProfileBar {
        border: solid;
        border-color: black;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .ownProfile {
        padding-top: 10px;
        text-align: center;
    }

    select {
        padding-right: 5px;
        margin: 5px;
        border-radius: 10px;
        width: 140px;
        height: 25px;
        color: white;
    }

    .fa:hover {
        cursor: pointer;
    }

    #filters {
        text-align: left;
    }

        #filters input {
            margin: 5px;
            border-radius: 10px;
            width: 140px;
            color: black;
        }

    .location:hover, .date:hover, .language:hover, .keyWord:hover {
        cursor: pointer;
    }

    .profile1 input, .profile1 button {
        border-radius: 10px;
        width: 140px;
    }

    #btn input {
        border-radius: 10px;
        width: 140px;
        margin-bottom: 5px;
        margin-top: 7px;
    }

    .profile1 input:hover, .profile1 button:hover {
        opacity: 0.8;
    }

    .event {
        border: solid;
        border-color: black;
        border-radius: 5px;
        margin-right: 0px;
        margin-bottom: 10px;
        /*padding: 10px;*/
    }

    #eventImg:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    .event img {
        height: 100PX;
        width: 100PX;
        margin: 10px;
    }

    .event p {
        margin: 0px;
    }

    .event .title {
        font-size: 20px;
        font-weight: bold;
    }

    .event .review {
        font-size: 15px;
        font-weight: bold;
    }


    #eventPhoto {
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

    #btn {
        text-align: center;
        margin: 5px;
    }

        #btn:hover {
            opacity: 0.8;
        }

    .filterHr {
        border-top: 1px solid black;
    }

    #locationLabel {
        border: none;
        background: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;

    /*button{
         border-radius:10px;
    }*/


</style>

@*<h2>EventsList</h2>*@

<div class="container-fluid">

    <div class="row">

        <div class="col-md-3 ProfileBar">
            <div>
                <div class="ownProfile">

                    <div>
                        @Html.Action("GetOwnProfile", "UserProfiles")
                    </div>

                    <div class="profile1">

                        <div>
                            <p>
                                @using (Ajax.BeginForm("MyOwnEvents", "EventTables", new AjaxOptions
                                {//GetPatients is name of method in PatientController
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace, //target element(#targetRev) will be replaced
                                    UpdateTargetId = "targetRv"
                                    //LoadingElementId = "loader"
                                }))
                                {
                                    <div>
                                        <input type="submit" value="My own events">
                                    </div>
                                }
                                @*@Html.ActionLink("My Own events", "MyOwnEvents", "EventTables")*@
                            </p>
                            <p>
                                @using (Ajax.BeginForm("MyNextEvents", "EventTables", new AjaxOptions
                                {//GetPatients is name of method in PatientController
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace, //target element(#targetRev) will be replaced
                                    UpdateTargetId = "targetRv"
                                    //LoadingElementId = "loader"
                                }))
                                {
                                    <div>
                                        <input type="submit" value="My Events">
                                    </div>
                                }
                                @*@Html.ActionLink("Next Events", "NextEvents", "EventTables")*@
                            </p>
                            <p>
                                <button onclick="location.href='@Url.Action("Create", "EventTables")';return false;">Create new Event</button>
                            </p>
                        </div>

                    </div>

                    <hr class="filterHr" />

                        @using (Ajax.BeginForm("Filter", "EventTables", new AjaxOptions
                        {//GetPatients is name of method in PatientController
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace, //target element(#targetRev) will be replaced
                            UpdateTargetId = "targetRv"
                            //LoadingElementId = "loader"
                        }))
                        {
                                <input id="locationLabel"  class="hidden" type="submit" name="Location">
                        }
          
                   
                    <hr class="filterHr" />

                    <div>
                        @using (Ajax.BeginForm("Filter", "EventTables", new AjaxOptions
                        {//GetPatients is name of method in PatientController
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace, //target element(#targetRev) will be replaced
                            UpdateTargetId = "targetRv"
                            //LoadingElementId = "loader"
                        }))
                        {
                            <div id="filters">
                                <div class="location">
                                    <i class="fa fa-plus-square " aria-hidden="true"> </i>
                                    <i class="fa fa-minus-square hidden" aria-hidden="true"></i>
                                    Location:
                                    <div class="input hidden">
                                        <input id="location" type="text" name="Location">
                                    </div>
                                </div>

                                <div class="date">
                                    <i class="fa fa-plus-square date" aria-hidden="true"> </i>
                                    <i class="fa fa-minus-square date hidden" aria-hidden="true"></i>
                                    Date:
                                    <div class="input hidden">
                                        <input class="datefield" data-val="true" data-val-required="Date is required"
                                               id="ReleaseDate" name="Date" type="Date" value="1/11/1989" />
                                    </div>
                                </div>

                                <div class="language">
                                    <i class="fa fa-plus-square " aria-hidden="true"> </i>
                                    <i class="fa fa-minus-square hidden" aria-hidden="true"></i>
                                    Language:
                                    <div class="input hidden">
                                        @*@Html.Action("selectLanguage", "Languagestables")*@
                                        <select id="language" name="Language">
                                            <option>--Select--</option>
                                            @foreach (var item in ViewBag.allLanguages)
                                            {
                                                <option>@item</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="keyWord">
                                    <i class="fa fa-plus-square " aria-hidden="true"> </i>
                                    <i class="fa fa-minus-square hidden" aria-hidden="true"></i>
                                    KeyWord:
                                    <div class="input hidden">
                                        <input id="keyWord" type="text" name="keyWord">
                                    </div>
                                </div>
                            </div>
                                <div id="btn">
                                    <input type="submit" value="Search">
                                </div>
                        }
                    </div>
                </div>
            </div>
            
            <a Id="filtersIcon">Search Filters</a>
            <i class="fa fa-search-minus search" aria-hidden="true"></i>
            <i class="fa fa-search-plus search hidden" aria-hidden="true"></i>
        </div>

        @*eventTable*@
        <div id="targetRv" class="col-md-9 ">
            @Html.Action("GetAllEventsList", "EventTables")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCrYByZUP81omfmV8Hh9bhsFL1Hx8DCMs&libraries=places&"
            async defer></script>

    <script>
        $(".search").click(function () {

            if ($("#filters").hasClass("hidden")) {
                $("#filters").removeClass("hidden");
                $(".filterHr").removeClass("hidden");
                $("#btn").removeClass("hidden");
                $(".profile1").removeClass("hidden");
                $("#locationLabel").removeClass("hidden");
            }
            else {
                $("#filters").addClass("hidden");
                $(".filterHr").addClass("hidden");
                $("#btn").addClass("hidden");
                $(".profile1").addClass("hidden");
                $("#locationLabel").addClass("hidden");
            }
            $(".fa.search").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".location i").click(function () {

            if ($(".location .input").hasClass("hidden")) {
                $(".location .input").removeClass("hidden");
            }
            else {
                $(".location .input").addClass("hidden");
                $("#location").val('');

            }
            $(".location i").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".date i").click(function () {

            if ($(".date .input").hasClass("hidden")) {
                $(".date .input").removeClass("hidden");
            }
            else {
                $(".date .input").addClass("hidden");
                $("#ReleaseDate").val('');
            }

            $(".date i").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".language i").click(function () {
            if ($(".language .input").hasClass("hidden")) {
                $(".language .input").removeClass("hidden");
            }

            else {
                $(".language .input").addClass("hidden");
                $("#language").prop("selected", false)
                $("#language").val('');
            }

            $(".language  i").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".keyWord i").click(function () {
            if ($(".keyWord .input").hasClass("hidden")) {
                $(".keyWord .input").removeClass("hidden");
            }

            else {
                $(".keyWord .input").addClass("hidden");
                $("#keyWord").val('');
            }

            $(".keyWord i").removeClass("hidden");
            $(this).addClass("hidden");
        });

   
        function getPosition() {
            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    var lat = pos.lat;
                     var lng = pos.lng;

                    console.log(lat);
                    console.log(lng);
                    var url = 'http://maps.googleapis.com/maps/api/geocode/json?'+'latlng=' + lat + ',' + lng; /*"+CA&key=AIzaSyAH5ZR9K2cPcQ0oRNvwb3J-eG6yHPPwm4Q" */
          
                    $.getJSON({
                        url: url,
                        data: {
                            sensor: false,
                            //address: $("#address").val()
                        },
                        success: function (data, textStatus) {
                            //console.log(textStatus, data);

                                if (data.results[5].formatted_address != null) {

                                    console.log(data.results[5].formatted_address.split(","));
                                    //"Look for events on " +
                                    $("#locationLabel").val(data.results[5].formatted_address.split(",")[1]);
                                    $("#locationLabel").removeClass("hidden");
                                } 
                        }
                    });
                  

                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });


                //'http://maps.googleapis.com/maps/api/geocode/json?latlng=44.4647452,7.3553838'


            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

        getPosition();

    </script>
}
