@model IEnumerable<Face2Face.Models.EventTable>

<style>
    #eventImg:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    .fa:hover {
        cursor: pointer;
    }

    .location:hover {
        cursor: pointer;
    }

    #filters input {
        margin: 5px;
        border-radius: 10px;
        width: 140px;
        color: black;
    }

    #filters {
        border: solid;
        border-color: black;
        border-radius: 5px;
        padding: 10px;
        /*margin: 5px;*/
    }

    #filters1 {
        padding: 10px;
        /*margin: 5px;*/
    }

    .ownProfile {
        padding: 10px;
        text-align: center
    }

    .event {
        border: solid;
        border-color: black;
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
    }

        .event img {
            height: 100PX;
            width: 100PX;
            margin: 5px;
        }

        .event p {
            margin: 0px;
        }

        .event .title {
            font-size: 20px;
            font-weight: bold;
        }

        .event .review {
            font-size: 15px;
            font-weight: bold;
        }

    .eventTable {
        /*border: solid;
        border-color: black;
        border-radius: 10px;*/
        padding: 10px;
    }

    #eventPhoto {
        text-align: center;
        vertical-align: middle;
    }

    #btn {
        text-align: center;
        padding: 10px;
    }
</style>

@*<h2>EventsList</h2>*@

<a Id="filtersIcon">Search Filters</a>
<i class="fa fa-search-minus search" aria-hidden="true"></i>
<i class="fa fa-search-plus search hidden" aria-hidden="true"></i>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-2 ownProfile">
            @Html.Action("GetOwnProfile", "UserProfiles")
        </div>

        <div class="col-md-7 eventTable">

            <div style="height: 550px; overflow: auto;">
                @foreach (var item in Model)
                {
                    <div class="container-fluid event">
                        <div class="row">
                            <div id="eventPhoto" class="col-md-4">
                                <a id="eventImg" href='@Url.Action("Details", "EventTables", new { id = item.EventID })'>

                                    @{
                                        if (item.Photo != null)
                                        {
                                            <img src=@item.Photo>
                                        }
                                        else
                                        {
                                            <img src="~/Content/Images/no-photo-available.png">
                                        }
                                    }
                                </a>
                            </div>

                            <div class="col-md-8">
                                <p class="title">
                                    @item.Name

                                    <label class="review">
                                        @{                                       

                                            if (item.ReviewTable.Count != 0)
                                            {

                                                double eventClassification = 0;
                                                int count = 0;

                                                foreach (var rev in item.ReviewTable)
                                                {
                                                    eventClassification = eventClassification + @rev.Classification;
                                                    count++;
                                                }

                                                eventClassification = eventClassification / count;

                                                if (eventClassification != 0)
                                                {
                                                    int i = 0;
                                                    for (i = 0; i < Math.Floor(eventClassification); i++)
                                                    {
                                                        <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                                                    }

                                                    if (eventClassification > i)
                                                    {
                                                        <i class="fa fa-star-half-o" aria-hidden="true" style="color:yellow"></i>
                                                    }
                                                    @eventClassification
                                                }
                                            }
                                        }
                                    </label>
                                </p>

                                <p>
                                    <label>
                                        Location:
                                    </label>
                                    @item.Address
                                </p>

                                <p>
                                    <label>
                                        Date:
                                    </label>
                                    @item.Date;

                                <p align="justify">
                                    <label>
                                        Summary:
                                    </label>
                                    @item.Summary
                                </p>

                                <p>
                                    <label>
                                        Language:
                                    </label>
                                    @item.LanguagesTable.Language
                                </p>

                                created by

                                <a id="eventImg" href='@Url.Action("Details", "UserProfiles", new { id = item.UserProfile.UserID})'>
                                    @item.UserProfile.Name
                                </a>

                                @Html.Action("GetProfileClassificationAsync", "UserProfiles", new { id = item.UserProfile.UserID })
                            </div>
                        </div>
                    </div>
                                            }
            </div>
        </div>

        <div id="filters1" class="col-md-3">

            <div id="filters">
                @using (Html.BeginForm("Filter", "EventTables", FormMethod.Post))
                {
                    <div class="location">
                        <i class="fa fa-plus-square " aria-hidden="true"> </i>
                        <i class="fa fa-minus-square hidden" aria-hidden="true"></i>
                        Location:
                        <div class="input hidden">
                            <input type="text" name="Location">
                        </div>
                    </div>

                    <div class="date">
                        <i class="fa fa-plus-square date" aria-hidden="true"> </i>
                        <i class="fa fa-minus-square date hidden" aria-hidden="true"></i>
                        Date:
                        <div class="input hidden">
                            <input class="datefield" data-val="true" data-val-required="Date is required"
                                   id="ReleaseDate" name="Date" type="Date" value="1/11/1989" />
                        </div>
                    </div>

                    <div class="language">
                        <i class="fa fa-plus-square " aria-hidden="true"> </i>
                        <i class="fa fa-minus-square hidden" aria-hidden="true"></i>
                        Language:
                        <div class="input hidden">
                            @Html.Action("selectLanguage", "Languagestables")
                        </div>
                    </div>

                    <div class="keyWord">
                        <i class="fa fa-plus-square " aria-hidden="true"> </i>
                        <i class="fa fa-minus-square hidden" aria-hidden="true"></i>
                        KeyWord:
                        <div class="input hidden">
                            <input type="text" name="keyWord">
                        </div>
                    </div>

                    <div id="btn">
                        <input type="submit" value="Search">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".search").click(function () {

            if ($("#filters").hasClass("hidden")) {
                $("#filters").removeClass("hidden");
            }
            else {
                $("#filters").addClass("hidden");
            }
            $(".fa.search").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".location i").click(function () {

            if ($(".location .input").hasClass("hidden")) {
                $(".location .input").removeClass("hidden");
            }
            else {
                $(".location .input").addClass("hidden");
            }

            $(".location i").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".date i").click(function () {

            if ($(".date .input").hasClass("hidden")) {
                $(".date .input").removeClass("hidden");
            }
            else {
                $(".date .input").addClass("hidden");
            }

            $(".date i").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".language i").click(function () {
            if ($(".language .input").hasClass("hidden")) {
                $(".language .input").removeClass("hidden");
            }

            else {
                $(".language .input").addClass("hidden");
            }

            $(".language  i").removeClass("hidden");
            $(this).addClass("hidden");
        });

        $(".keyWord i").click(function () {
            if ($(".keyWord .input").hasClass("hidden")) {
                $(".keyWord .input").removeClass("hidden");
            }

            else {
                $(".keyWord .input").addClass("hidden");
            }

            $(".keyWord i").removeClass("hidden");
            $(this).addClass("hidden");
        });

    </script>
}
