@model Face2Face.Models.UserProfile

@{
    ViewBag.Title = "Details";
}

<style>
    
    .eventDetails{
        border: solid;
        border-color: black;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
    }

    #profilePhoto img{
        text-align: center;
        vertical-align: middle;
        height: 250px;
        width: 250px;
    }


</style>

<h2>@Model.Name</h2>

<div class="container-fluid eventDetails">

    <div class="row">
        <div id="profilePhoto" class="col-md-3">

            @{
                if (Model.Photo != null)
                {
                    <img src=@Model.Photo>
                }
                else
                {
                    <img src="~/Content/Images/avatar.png">
                }
            }
        </div>

            <div class="col-md-6">

                <table>
                    <tr>
                        <th>Name:</th>
                        <td style="padding: 5px;">@Model.Name</td>
                    </tr>

                    <tr>
                        <th>Age:</th>
                        <td style="padding: 5px;">@Model.Age</td>
                    </tr>

                    <tr>
                        <th>Nationality:</th>
                        <td style="padding: 5px;">@Model.Nationality</td>
                    </tr>

                </table>

                @{
                    if (Model.LanguagesTable.Count() != 0 && Model.LanguagesTable1.Count() != 0 && Model.LanguagesTable2.Count() != 0)
                    {
                        <table>
                            <tr>
                                <th>Native Language(s):</th>

                                <td style="padding: 5px;">
                                    @foreach (var lng in Model.LanguagesTable)
                                    {
                                        <section>@lng.Language</section>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <th>Fluent Language(s):</th>

                                <td style="padding: 5px;">
                                    @foreach (var lng in Model.LanguagesTable2)
                                    {
                                        <section>@lng.Language</section>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <th>Language(s) of Interest:</th>

                                <td style="padding: 5px;">
                                    @foreach (var lng in Model.LanguagesTable1)
                                    {
                                        <section>@lng.Language</section>
                                    }
                                </td>
                            </tr>
                        </table>
                    }
                }
               
                <table>
                    <tr>
                        <th>Events organized by @Model.Name:</th>
                        <td style="padding: 5px;">
                            @foreach (var evnt in Model.EventTable)
                            {
                                if (Model.UserID == evnt.UserID)
                                {
                                    <section>@Html.ActionLink(evnt.Name, "Details", "EventTables", new { id = evnt.EventID }, null)</section>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</div>