@model Face2Face.Models.UserProfile

@{
    Layout = null;
}

<div>

    @if (Model != null)
    {
        <a id="eventImg" href='@Url.Action("Details", "UserProfiles", new { id = @Model.UserID})'>
            @{
                if (Model.Photo != null)
                {
                    <img src=@Model.Photo>
                  
                }
                else
                {
            <img src="~/Content/Images/avatar.png">
                }
            }
        </a>

        <p>
            @Model.Name
            @{
                double reviews = 1.5;
                if (@Model.ReviewTable.Count != 0)
                {
                    foreach (var rev in @Model.ReviewTable)
                    {

                        reviews = reviews + @rev.Classification;
                    }@Model.ReviewTable.Count;
                }

                if (reviews != 0)
                {
            @reviews

                    int i;
                    for (i = 0; i < Math.Floor(reviews); i++)
                    {
            <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                    }
                    if (reviews > i)
                    {
            <i class="fa fa-star-half-o" aria-hidden="true" style="color:yellow"></i>
                    }
                }
            }
        </p>

        <p>
            @Html.ActionLink("My Own events", "MyOwnEvents", "EventTables")
        </p>

                    <p>
                        @Html.ActionLink("Create new Event", "Create", "EventTables")
                    </p>

                }


</div>
